<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Game screen size -->
    <add key ="ScreenHeight" value ="665" />    <!--Screen height to be loaded-->
    <add key ="ScreenWidth" value ="1060" />    <!--Screen width to be loaded-->
    
    <!-- Player size settings -->
    <add key ="PlayerHeight" value ="160" />    <!--Players height from PlayerBuilder class-->
    <add key ="PlayerWidth" value ="50" />      <!--Players width from PlayerBuilder class-->
    
    <!-- Game Settings -->
    <add key ="RaindropCount" value ="25" />    <!--The max amount of raindrops on the screen at any time-->
    <add key ="RaindropSpeed" value ="50" />    <!--The speed that the raindrops will fall-->
    <add key ="PlayerLives" value ="3" />       <!--The amount of lives the player has before it's Game Over-->
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>